requests~=2.31.0
pycryptodome
PyYAML~=6.0.1
Naked~=0.1.32
shellescape~=3.8.1
certifi~=2024.2.2
urllib3~=2.2.0
idna~=3.6
tensorflow
keras
git+https://github.com/haven-jeon/PyKoSpacing.git
git+https://github.com/ssut/py-hanspell.git
soynlp
python-socketio~=4.6.1
konlpy
python-mecab-ko
langchain
langchainhub
prompt_toolkit
flask
flask[async]
openpyxl